@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:  transparent;
  --secondary: #607B96;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #607B96;
  border-radius: 0;
  border: 1px solid #1E2D3D;
}

* {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #010C15;
}

:root {
--primary-color-1: #01080E;
--primary-color-2: #011627;
--primary-color-3: #011221;
--color-secondary-1: #607B96;
--color-secondary-2: #3C9D93;
--color-secondary-3: #4D5BCE;
--color-white: #FFFFFF;
--color-accent-1: #FEA55F;
--color-accent-2: #43D9AD;
--color-accent-3: #E99287;
--color-accent-4: #C98BDF;
}