@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: transparent;
	--secondary: #607b96;
}

* {
	font-family: 'Fira Code', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #010c15;
}

html {
	overflow: scroll;
}

:root {
	--primary-color-1: #01080e;
	--primary-color-2: #011627;
	--primary-color-3: #011221;
	--color-secondary-1: #607b96;
	--color-secondary-2: #3c9d93;
	--color-secondary-3: #4d5bce;
	--color-white: #ffffff;
	--color-accent-1: #fea55f;
	--color-accent-2: #43d9ad;
	--color-accent-3: #e99287;
	--color-accent-4: #c98bdf;
}
